# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
.venv/
# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE specific files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore environment variables
.env

# yes
.idx
.test